<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css')}}">
    <style>
      .heading {
        font-size: 15px;
      }
    </style>
  </head>

  <body>
    <div class="container is-fluid">
      <section class="hero">
        <div class="hero-body">
          <nav class="level">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <div class="subtitle">
                  <p>Emergency Help Network (EHN) - Los Angeles</p>
                </div>
              </div>
            </div>
          
            <!-- Right side -->
            <div class="level-right">
              <div class="level-item">
                <a href="/command">
                  <span class="tag is-warning">Command Panel</span>
                </a>
              </div>
              <div class="level-item">
                <span class="tag is-danger">Emergency: Forest Fire</span>
              </div>
            </div>
          </nav>
        </div>
      </section>

      <section class= "hero" style="border-top: 2px solid #f5f5f5;">
        <div class="hero-body">
            <div class="columns">
                <div class="column">

                    <div class="heading">
                        <p>Updates</p>
                    </div>

                    <div class="notification">
                        <button class="delete"></button>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
                    </div>

                </div>
                <div class="column">

                    <div class="heading">
                        <p>Resources</p>
                    </div>

                    <div class="tile is-ancestor">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                      Component
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                      <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                  </header>
                                  <div class="card-content">
                                    <div class="content">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                      <br>
                                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                    </div>
                                  </div>
                                  <footer class="card-footer">
                                    <a href="/resource?id=1234" class="card-footer-item">More information</a>
                                  </footer>
                            </div>
                            <div class="tile is-child card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                      Component
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                      <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                      </span>
                                    </button>
                                  </header>
                                  <div class="card-content">
                                    <div class="content">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                                      <br>
                                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                    </div>
                                  </div>
                                  <footer class="card-footer">
                                    <a href="/resource?id=1234" class="card-footer-item">More information</a>
                                  </footer> 
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </section>


    </div>
  </body>
</html>